<h2>Listado de Películas</h2>

<table border="1">
    <tr>
        <th>Título</th>
        <th>Detalle</th>
        <th>Poster</th>
        <th>Acciones</th>
    </tr>

    <% peliculas.forEach(p => { %>
        <tr>
            <td><%= p.original_title %></td>
            <td><%= p.detalle %></td>
            <td><img src="<%= p.poster %>" width="80"></td>
            <td>
                <a href="/peliculas/editar/<%= p._id %>">Editar</a> |
                <a href="/peliculas/eliminar/<%= p._id %>">Eliminar</a>
            </td>
        </tr>
    <% }) %>
</table>
